<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="green">
  <div class="container">
    <h1 id="brand">
      <%= link_to 'Flashcards' %>
    </h1>
    <div id="user">
      <a href="#">Sign in</a>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
